.error__content {
    margin-left: 20px;
    margin-top: 50px;
    width: 65%;
    vertical-align: middle;
}

.content {
    font-size: $font-l;
 
}

.error {
    margin-top: 30px;
    display:flex;
}



.sub-title{
    margin-bottom: 40px;
    font-size: $font-xl;
    font-weight: bold;
}