// extenders
.animate {
    transition: all 0.3s;
}

p.login-remember {
    margin-bottom: 25px;
}

input#wp-submit.button.button-primary {
    font-family: "Poppins", sans-serif, Helvetica, Arial, sans-serif;
}

input#wp-submit.button.button-primary,
.action-button {
    width: max-content;
    z-index: 2;
    border: 3px solid $main-color;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
    padding: 13px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.75px;


    &:hover {
        color: $main-color;
        padding: 13px 30px;
        border: 3px solid $main-color;
        background: none !important;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: $main-color;
        background-color: white;
    }

}