// extenders
.animate {
    transition: all 0.3s;
}

p.login-remember{
    margin-bottom: 25px;
}

// input#wp-submit.button.button-primary {
//     font-family: "Poppins", sans-serif, Helvetica, Arial, sans-serif;
// }

//input#wp-submit.button.button-primary,
.action-button-linear {
    width: max-content;

    border: 2.5px solid $main-color;
    color: $main-color;
    border-radius: 30px;
    padding: 14px 45px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.75px;


    &:hover {
        color: white;
        padding: 14px 45px;
        border: 2.5px solid white;
        background: none !important;
    }

    a {
        text-decoration: none;
        color: white; 
    }

    a:hover {
        color: white;
        background: $main-color;
    }
    
}