.section__tpl {

    .sidebar {
        height: 40%;
        background-color: #f3fafa;
        border-radius: 6px;
        padding: 20px 50px 10px 50px;
        width: 18%;
        margin: 0 18rem 0 0;
        order: 2;
/*         text-align: center; */


        &__title {
            font-size: $font-l;
            margin-bottom: 25px;
            margin-top: 45px;

        }

        &__list {

            li {
                margin-bottom: 25px;
            }
        }

        h4 {
            font-weight: 600;
        }
    }


    @media only screen and (max-width: 930px) {

        .sidebar {
            display: none;
        }

    }
}