.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: $height;
   // background-image: url("https://source.unsplash.com/1400x320/?grass");


    h2 {
        font-size: 3em;
        color: $title-color;
        margin-bottom: 30px;
    }

    p {
        color: #fff;
    }


}

