.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: $height;
    background-color: #53B793;


    h2 {
        text-align: center;
        font-size: 45px;
        font-weight: 800;
        line-height: 50px;
        color: white;
    }

    p {
        color: #fff;
    }


}

