.footer {
    width: 100%;

    &__topfooter {
        background-color: #f3fafa;
        padding: 60px 0 30px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;

        .flex-item {
            width: 25%;
            font-weight: 500;

            img {
                width: 23em;
            }

            .address {
                line-height: 2.5em;
            }

            li{
                padding-bottom: 1.5em;
            }
    
        }

        .flex-item-1 {
            width: 35%;
            text-align: center;
        }

        .flex-item-2 {
            width: 10%;
        }

        .flex-item-3 {
            width: 15%;
            padding-top: 15px;

             ul li a i {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                line-height: 30px;
                text-align: center;
                background: #53B793;
                color: #fff;
            } 
        }

        .flex-item-4 {
            width: 15%;
            padding-top: 15px;
        }
    }


    &__subfooter {
        padding: 20px 250px;
        background-color: $main-color;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-s;
        padding: 10px 10%;

       i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            background: #fff;
            color: #53B793;
        }

        ul li {
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: white;
        }

        &-left li {
            margin-right: 30px;
        }

    }


    @media only screen and (max-width: 1220px) {
        &__topfooter {
            flex-wrap: wrap;
            padding: 10px;
        }

        .footer__list {
            columns: 2;
            margin-left: 100px;
            margin-top: 20px;
        }

        .footer__charity-address {
            padding-left: 16px;
            padding-right: 68px;
            margin-top: 20px;

        }

        .footer__subfooter {
            padding: 20px 20px;

        }

        .footer__subfooter ul li {
            // margin-left: 10px;
            font-size: 13px;

            a {
                margin-right: -70px;
            }
        }

        .footer__list {
            display: none;
        }


    }


    @media only screen and (max-width: 850px) {

        .footer__charity-address {
            margin-top: 20px;
            padding-left: 10%;
            margin-left: 10%;

        }

        .footer__topfooter-summary li {
            line-height: 40px;
            margin-right: 33px;

            a {
                font-size: 16px;
            }
        }

        .footer__list {
            display: none;
        }

    }

    @media only screen and (max-width: 520px) {

        .footer__charity-address {
            display: none;

        }

        .footer__topfooter-logo img {
            padding: 5px 0 0 50px;
            width: 18em;
        }

        .footer__list {
            display: none;
        }

        .footer__subfooter {
            padding: 20px 20px;
            display: flex;
            justify-content: space-around;
        }

    }

}