.about-counter {
	width: 100%;
	min-height: 500px;
	background: #f3fafa;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.call-toaction {
		display: flex;
		align-items: flex-end;
		align-self: center;
		margin-top: 40px;

	}
}


#counter {
	padding-top: 13px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;


	li {
		font-size: 40px;
		color: #53b793;
		font-weight: 1000;
		margin: 0px;
		padding: 0px;
		margin-left: 50px;
	}

	h1 {
		margin-top: 20px;
		color: #fff;
		text-align: center;

	}
}

@media only screen and (max-width: 930px) {
	#counter {
		flex-direction: column;
	}

	.call-toaction {
		flex-wrap: wrap;
		margin-left: 100px;
		height: 20%;

	}

	#counter li {
		margin-left: 0px;

	}

	.about-counter {
		height: 525px;
	}

}