* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    margin: 0;
}

.main {

    margin-bottom: 0px;
    min-height: calc(100vh - auto);

}

.footer {
    height: auto;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}


a {
    text-decoration: none;

    &:hover {
        color: gray;
    }
}

.main__frontpage {
    background-color: #f3fafa;
    margin-bottom: 0px;

    .text-title {
    padding: 80px 0 0 0;
    }

    .section__tpl {
        display: flex;

        .calltoaction {
            text-align: center;
            padding: 85px 0 100px 0;
        }
    }
}

.hero__frontpage {
    margin-bottom: 0px;
    padding: 235px 0 100px 0;
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

    .hero-title {
        color:#fff;
        margin: auto;
        width: 40%;

        h2 {
            text-align: center;
            font-size: 45px;
            font-weight:800;
            line-height: 50px;
        }

        p {
            text-align: center;
            font-weight: 500;
            font-size: 19px;	
            padding: 20px 0 40px 0;
            line-height: 30px;
        }
    
    }

    .calltoaction {
        text-align: center;
        padding: 20px 0 100px 0;
    }

    .action-button:hover {
            color: white;
            padding: 14px 45px;
            border: 2.5px solid white;
            background: none !important;
    }
}